.rru-date-input__input-wrapper {
  position: relative;
  width: 100%;
}

.rru-date-input__clear-button {
  position: absolute;
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  line-height: 0;
  font-size: 30px;
  font-weight: normal;
  top: -5px;
  bottom: 0;
  right: 5px;
  margin: auto;
  padding: 0;
  outline: none;
  cursor: pointer !important;
  transition: 0.15s;
  color: #D2D2D2;
}

.rru-date-input__clear-button:hover {
  color: #999999;
}

.rru-date-input__popup {
  position: absolute;
  overflow: hidden;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.33);
}

.rru-date-input__popup--visible {
  max-height: 500px;
  transition: max-height 0.4s 0s ease;
}

.rru-date-input__popup--hidden {
  max-height: 0px;
  transition: max-height 0.2s 0s ease;
}

.rru-date-input__container {
  position: relative;
  z-index: 55;
  overflow: hidden;
  background-color: #ffffff;
}

.rru-date-input__header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  border-bottom: solid 1px #dbdbdb;
}

.rru-date-input__date-part-input {
  width: 4rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  text-align: center;
}

.rru-date-input__month-button {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  font-weight: 700;
  color: #8c8c8c;
}

.rru-date-input__month-button:hover {
  color: #000000;
  cursor: pointer;
}

.rru-date-input__body {
  background-color: #ffffff;
  padding: 5px;
}

.rru-date-input__body>table>tr>td {
  padding: 4px;
}

.rru-date-input__day {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}

.rru-date-input__day:hover {
  color: #ffffff;
  background-color: var(--bs-primary);
  cursor: pointer;
}

.rru-date-input__day--not-same-month {
  color: #8c8c8c;
}

.rru-date-input__day--today {
  border: solid 1px var(--bs-primary);
}

.rru-date-input__day--selected {
  color: #ffffff;
  background-color: var(--bs-primary);
}

.rru-date-input__day--disabled {
  color: #cbcbcb;
}

.rru-date-input__day--disabled:hover {
  color: #cbcbcb;
  background-color: initial;
  cursor: default;
}

.rru-date-input__footer {
  text-align: center;
  border-top: solid 1px #dbdbdb;
  padding: 10px;
}

.rru-date-input__time-part-input {
  width: 2rem;
  text-align: center;
}