.rru-date-input__input-wrapper {
  position: relative;
  width: 100%;
}

[dir="rtl"] .rru-date-input__input {
  text-align: right;
}

.rru-date-input__clear-button {
  width: 25px;
  aspect-ratio: 1;
  position: absolute;

  top: calc(50% - (25px/2));
  left: unset;
  right: 5px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22800%22%20height%3D%22800%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%222%22%20d%3D%22m8%208%208%208M16%208l-8%208%22%2F%3E%3C%2Fsvg%3E");

  cursor: pointer !important;
  transition: 0.15s;
  opacity: 0.50;
}

[dir="rtl"] .rru-date-input__clear-button {
  right: unset;
  left: 5px;
}

.rru-date-input__clear-button:hover {
  opacity: 1;
}

.rru-date-input__popup {
  position: absolute;
  overflow: hidden;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.33);
}

.rru-date-input__popup--visible {
  max-height: 500px;
  transition: max-height 0.4s 0s ease;
}

.rru-date-input__popup--hidden {
  max-height: 0px;
  transition: max-height 0.2s 0s ease;
}

.rru-date-input__container {
  position: relative;
  z-index: 55;
  overflow: hidden;
  background-color: var(--bs-body-bg);
}

.rru-date-input__header {
  background-color: var(--bs-body-bg);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rru-date-input__header-stretch {
  flex-grow: 1;
}


.rru-date-input__date-part-input {
  width: 4rem;
  padding: 5px 10px;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  text-align: center;
  border: solid 1px var(--bs-border-color);
  border-radius: 5px;
}

.rru-date-input__date-part-input:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rru-date-input__date-part-input:focus-visible {
  outline: solid 2px var(--bs-gray-900);
}

.rru-date-input__month-button {
  height: 36px;
  width: 40px;
  background-size: 24px;
  margin-inline-start: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.rru-date-input__month-button:hover {
  cursor: pointer;
  background-color: var(--bs-gray-200);
}

.rru-date-input__month-button-previous {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20class%3D%22gds-icon%20s-ion-icon%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M21.246%2012.878a.75.75%200%200%200%20.009-1.5l-16.69-.145%203.337-3.295A.75.75%200%200%200%206.848%206.87l-4.625%204.568a.75.75%200%200%200-.007%201.06l4.568%204.625a.75.75%200%201%200%201.067-1.054l-3.295-3.336z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.rru-date-input__month-button-next {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20class%3D%22gds-icon%20s-ion-icon%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M2.755%2012.878a.75.75%200%200%201-.01-1.5l16.69-.145-3.336-3.295a.75.75%200%201%201%201.053-1.068l4.625%204.568a.75.75%200%200%201%20.007%201.06l-4.568%204.625a.75.75%200%200%201-1.067-1.054l3.295-3.336z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.rru-date-input__body {
  background-color: var(--bs-body-bg);
  padding: 5px;
  display: flex;
}

.rru-date-input__body>table {
  flex-grow: 1;
}

.rru-date-input__body>table>tr>td {
  padding: 4px;
}

.rru-date-input__day {
  height: 36px;
  aspect-ratio: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  margin: 4px
}

.rru-date-input__day:hover {
  cursor: pointer;
}

.rru-date-input__day:not(.rru-date-input__day--selected):hover {
  background-color: var(--bs-gray-200);
}

.rru-date-input__day--not-same-month {
  color: var(--bs-gray-500);
}

.rru-date-input__day--today {
  border: solid 1px var(--bs-primary);
}

.rru-date-input__day--selected {
  color: #ffffff;
  background-color: var(--bs-primary);
}

.rru-date-input__day--disabled {
  color: var(--bs-gray-500);
}

.rru-date-input__day--disabled:hover {
  color: var(--bs-gray-500);
  background-color: initial;
  cursor: default;
}

.rru-date-input__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px var(--bs-border-color);
  padding: 10px;
}

.rru-date-input__time-part-input {
  width: 4rem;
  padding: 5px 10px;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  text-align: center;
  border: solid 1px var(--bs-border-color);
  border-radius: 5px;
}

.rru-date-input__time-part-input:hover {
  text-decoration: underline;
  cursor: pointer;
}

.rru-date-input__time-part-input:focus-visible {
  outline: solid 2px var(--bs-gray-900);
}

.rru-date-input__datetime-part-separator {
  font-weight: 500;
}