.rru-date-input__popup {
  position: absolute;
  overflow: hidden;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.33);
}

.rru-date-input__popup--shown {
  max-height: 500px;
  transition: max-height 0.4s 0s ease;
}

.rru-date-input__popup--hidden {
  max-height: 0px;
  transition: max-height 0.2s 0s ease;
}

.rru-date-input__container {
  position: relative;
  z-index: 55;
  overflow: hidden;
  background-color: #ffffff;
}

.rru-date-input__header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  border-bottom: solid 1px #dbdbdb;
}

.rru-date-input__header > select {
  display: inline;
  width: auto;
  flex-grow: 1;
  border-radius: 10px;
  margin: 0px 5px;
  text-align: center;
}

.rru-date-input__header > select:focus-visible {
  outline: 0;
}

.rru-date-input__month-button {
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 10px;
  color: #8c8c8c;
}

.rru-date-input__month-button:hover {
  color: #000000;
  cursor: pointer;
}

.rru-date-input__body {
  background-color: #ffffff;
  padding: 5px;
}

.rru-date-input__body > table > tr > td {
  padding: 4px;
}

.rru-date-input__day {
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}

.rru-date-input__day:hover {
  color: #ffffff;
  background-color: #0067c0;
  cursor: pointer;
}

.rru-date-input__day--not-same-month {
  color: #8c8c8c;
}

.rru-date-input__day--today {
  border: solid 1px #0067c0;
}

.rru-date-input__day--selected {
  color: #ffffff;
  background-color: #0067c0;
}

.rru-date-input__day--disabled {
  color: #cbcbcb;
}

.rru-date-input__day--disabled:hover {
  color: #cbcbcb;
  background-color: initial;
  cursor: default;
}

.rru-date-input__footer {
  text-align: center;
  border-top: solid 1px #dbdbdb;
  padding: 10px;
}

.rru-date-input__time-input {
  width: 2rem;
  text-align: center;
}
