.rru-steps-wizard__header {
  display: flex;
  flex-wrap: nowrap;
}

.rru-steps-wizard__step {
  flex: 1;
  border-bottom: 0.2rem solid;
  border-color: var(--bs-secondary);
}

.rru-steps-wizard__step-number {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.7rem;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto 0.5rem auto;
  color: #ffffff;
  background: var(--bs-secondary);
}

.rru-steps-wizard__step-label {
  color: var(--bs-secondary);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* states */

.rru-steps-wizard__step--done {
  border-color: var(--bs-success);
}

.rru-steps-wizard__step--current {
  border-color: var(--bs-primary);
}

.rru-steps-wizard__step-number--done {
  background: var(--bs-success);
}

.rru-steps-wizard__step-number--current {
  background: var(--bs-primary);
}

.rru-steps-wizard__step-label--done {
  color: var(--bs-success);
}

.rru-steps-wizard__step-label--current {
  color: var(--bs-primary);
}
