.rru-steps-wizard__header {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.rru-steps-wizard__step {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

/* create the line using a pseudo-element */
.rru-steps-wizard__step:not(:last-child)::after {
  content: "";
  position: absolute;
  /* .rru-steps-wizard__step-number hight / 2 */
  top: 16px;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--bs-gray-500);
  z-index: -1;
}

.rru-steps-wizard__step:has(.rru-steps-wizard__step-number--done)::after {
  background-color: var(--bs-primary);
}

.rru-steps-wizard__step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  margin: 0 auto 0.5rem auto;
  background-color: var(--bs-body-bg);
  border-color: var(--bs-gray-500);
  color: var(--bs-gray-500);
}

.rru-steps-wizard__step-label {
  color: var(--bs-body-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

/* states */

.rru-steps-wizard__step--done {
  border-color: var(--bs-primary);
}

.rru-steps-wizard__step--current {
  border-color: var(--bs-primary);
}

.rru-steps-wizard__step-number--done {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 4px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.998 8.531l-2.134-2.134c-0.394-0.393-1.030-0.393-1.423 0l-12.795 12.795-6.086-6.13c-0.393-0.393-1.029-0.393-1.423 0l-2.134 2.134c-0.393 0.394-0.393 1.030 0 1.423l8.924 8.984c0.393 0.393 1.030 0.393 1.423 0l15.648-15.649c0.393-0.392 0.393-1.030 0-1.423z'%3E%3C/path%3E%3C/svg%3E");
}

.rru-steps-wizard__step-number--current {
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.rru-steps-wizard__step-label--done {
  color: var(--bs-primary);
}

.rru-steps-wizard__step-label--current {
  color: var(--bs-primary);
}