.rru-data-table td {
  box-shadow: none !important;
}

.rru-data-table thead tr {
  background-color: #f2f2f2;
}

.rru-data-table tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.rru-data-table tbody tr:nth-of-type(even) {
  background-color: #f7f7f7;
}

/* th */

.rru-data-table__th {
  border-top-width: 1px;
}

.rru-data-table__th--sortable {
  cursor: pointer;
}

.rru-data-table__th--sortable::before {
  display: inline-block;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='88.297 129.356 286.131 398.1'%3E%3Cpath d='M112.36248 360.406189h238c21.4 0 32.1 25.9 17 41l-119 119c-9.4 9.4-24.6 9.4-33.9 0l-119.1-119c-15.1-15.1-4.4-41 17-41zm255-105-119-119c-9.4-9.4-24.6-9.4-33.9 0l-119.1 119c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'/%3E%3C/svg%3E");
  background-size: 0.5364rem 0.7461rem;
  width: 0.5364rem;
  height: 0.7461rem;
  margin-inline-end: 0.3rem;
}

.rru-data-table__th--sortable-asc::before {
  height: 0.37305rem;
  margin-bottom: 0.186525rem;
}

.rru-data-table__th--sortable-desc::before {
  height: 0.37305rem;
  margin-bottom: 0.186525rem;
  transform: rotate(180deg);
}

.rru-data-table__no-data-message {
  text-align: center;
  color: var(--bs-secondary);
}

.rru-data-table__error-message {
  text-align: center;
  color: var(--bs-danger);
}

/* loading bar */

.rru-data-table__loading-bar-tr--hidden {
  display: none;
}

.rru-data-table__loading-bar-td {
  padding: 0 !important;
  position: relative;
  height: 4px;
  background-color: #13213541;
  overflow: hidden;
}

.rru-data-table__loading-bar {
  background-color: var(--bs-primary);
}

.rru-data-table__loading-bar:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.rru-data-table__loading-bar:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1.15s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}