.rru-select-input {
    width: 100%;
}

/* control */
.rru-select-input .react-select__control ,
.rru-multi-select-input .react-select__control {
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    margin-block: 2px 3px;
    color: var(--rru-input-color) !important;
    border: 1px solid var(--rru-input-border-color) !important;
    border-radius: var(--rru-input-radius) !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;

    /* animated bottom line */
    background-image: linear-gradient(var(--rru-input-active-line-color), var(--rru-input-active-line-color));
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 0 var(--rru-input-active-line-height);
    transition: border-color 0.3s ease, background-size 0.3s ease, box-shadow 0.3s ease;
}

/* value container */
.rru-select-input .react-select__value-container ,
.rru-multi-select-input .react-select__value-container {
    padding-inline: 10px;
}

/* placeholder */
.rru-select-input .react-select__placeholder ,
.rru-multi-select-input .react-select__placeholder {
    color: var(--rru-input-placeholder-color);
}

/* hover */
.rru-select-input .react-select__control:hover ,
.rru-multi-select-input .react-select__control:hover {
    border-color: var(--rru-input-hover-border-color) !important;
}

/* focus */
.rru-select-input .react-select__control--is-focused ,
.rru-multi-select-input .react-select__control--is-focused {
    background-size: 100% var(--rru-input-active-line-height);
    border-color: var(--rru-input-hover-border-color) !important;
    box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25) !important;
}

/* active / hold click */
.rru-select-input .react-select__control:active ,
.rru-multi-select-input .react-select__control:active {
    background-size: 40% var(--rru-input-active-line-height);
}

/* disabled */
.rru-select-input .react-select__control--is-disabled ,
.rru-multi-select-input .react-select__control--is-disabled {
    cursor: default !important;
    color: #9da4ae !important;
    background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
    background-image: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
}

/* error */

.rruSelectInput[data-field-error]:not([data-field-error=""]) .rru-select-input .react-select__control ,
.rru-multi-select-input[data-field-error]:not([data-field-error=""]) .rru-select-input .react-select__control {
    border-color: var(--rru-input-error-border-color) !important;
    background-image: none;
}

/*============*/
.rru-select-input .react-select__menu,
.rru-multi-select-input .react-select__menu{
    border: 1px solid #dbdee3;
    padding: 14px;
    border-radius: 3px !important;
    box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.08), 0 8px 8px -4px rgba(16, 24, 40, 0.03);
}
/* remove default blue focus */
.rru-select-input .react-select__option--is-focused ,
.rru-multi-select-input .react-select__option--is-focused {
    background-color: #ffffff ;
    /*color: #101828 !important;*/
}
.rru-select-input .react-select__option:hover,
.rru-multi-select-input .react-select__option:hover{
    cursor: pointer;
    background-color: #f3f4f6;
    border-radius: 4px !important;
    color: #101828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* selected option with check icon */
.rru-select-input .react-select__option--is-selected ,
.rru-multi-select-input .react-select__option--is-selected {
    background-color: transparent;
    color: #101828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* add check icon */
.rru-select-input .react-select__option--is-selected::after ,
.rru-multi-select-input .react-select__option--is-selected::after {
    content: '';
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23101828' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
}