input[type=file] {
    display: none;
}

.fileUpload {
    cursor: pointer;
    overflow: hidden;
}

.grouped-multi-checkbox-group-header{
    color: white;
    background-color: #648aa5;
    padding: 0.5rem;
    width: 100%;
}

label.required-asterisk:after {
    content: ' *';
    color: #dc3545;
}

span.rru-form-input-error-message{
    color: #dc3545;
}

.rru-datepicker{
    display: flex;
}
.rru-datepicker > select {
    border-radius: 0;
}
.rru-datepicker > select:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
.rru-datepicker > select:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

[dir="rtl"] .rru-datepicker > select:first-child {
    border-radius: 0 0.25rem 0.25rem 0;
}
[dir="rtl"] .rru-datepicker > select:last-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
