input[type=file] {
    display: none;
}

.fileUpload {
    cursor: pointer;
}

.grouped-multi-checkbox-group-header{
    color: white;
    background-color: #648aa5;
    padding: 0.7rem;
    width: 100%;
}

.grouped-multi-checkbox-group-row{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label.required-asterisk:after {
    content: ' *';
    color: #dc3545;
}

.rru-datepicker{
    display: flex;
}
.rru-datepicker > select {
    border-radius: 0;
}
.rru-datepicker > select:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
.rru-datepicker > select:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

[dir="rtl"] .rru-datepicker > select:first-child {
    border-radius: 0 0.25rem 0.25rem 0;
}
[dir="rtl"] .rru-datepicker > select:last-child {
    border-radius: 0.25rem 0 0 0.25rem;
}
