/* 
    Accroding to Saudi DGA design guidelines    
    https://design.dga.gov.sa/guidelines/
*/

/* all */

.form-group .form-check input,
.form-group .form-control {
    filter: none !important;
    box-shadow: none !important;
}


/* checkbox and radio */

.form-group .form-check label:hover,
.form-group .form-check input:hover {
    cursor: pointer !important;
}

/* checkbox */

.form-group:not(:has(.form-switch)) .form-check[role="checkbox"] input {
    width: 18px;
    height: 18px;
    border: 1px solid #6c737f;
    border-radius: 2px;
}

.form-group:not(:has(.form-switch)) .form-check[role="checkbox"] input:checked {
    background-color: #1e8153;
    border-color: #1e8153;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgPgogIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0gMTEuNTI2IDE2Ljc5MiBDIDE0LjI0NyAxMy44OCAxNi44NzQgMTEuOTA1IDIwLjE3NCA5LjEwOCBDIDIxLjE2MiA4LjI3IDIxLjMxNSA2LjgwMyAyMC41NCA1Ljc2MyBDIDE5LjcxNiA0LjY1OCAxOC4xNTEgNC40MzcgMTcuMDkzIDUuMzE1IEMgMTQuMDcgNy44MjIgMTEuNzE4IDEwLjIzOCA5LjQ4NyAxMi44MTcgQyA5LjM3IDEyLjk1MiA5LjMxMSAxMy4wMiA5LjI1MSAxMy4wNTggQyA5LjA5OCAxMy4xNTYgOC45MDMgMTMuMTU3IDguNzQ5IDEzLjA2MSBDIDguNjg4IDEzLjAyNCA4LjYyOSAxMi45NTcgOC41MTIgMTIuODI0IEwgNy4zMjMgMTEuNDc5IEMgNi4yNDIgMTAuMjUgNC4yODggMTAuMzg2IDMuMzg3IDExLjc1MyBDIDIuNzUzIDEyLjcxMSAyLjg0NyAxMy45NzYgMy42MTYgMTQuODI5IEwgNS40OCAxNi44OTggQyA2Ljg3MyAxOC40NDQgNy41NzEgMTkuMjE4IDguNDA4IDE5LjIyNSBDIDkuMjQ0IDE5LjIzMiAxMC4wMDUgMTguNDE5IDExLjUyNiAxNi43OTIiIC8+Cjwvc3ZnPg==");
}

/* radio */

.form-group:not(:has(.form-switch)) .form-check[role="radio"] input {
    width: 18px;
    height: 18px;
    border: 1px solid #6c737f;
    border-radius: 9999px;
}

.form-group:not(:has(.form-switch)) .form-check[role="radio"] input:checked {
    background-color: unset !important;
    border-color: #1e8153;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding: 1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cellipse fill='%231e8153' cx='12' cy='12' rx='8.875' ry='8.875'/%3E%3C/svg%3E");
}


/* switch */

.form-group:has(.form-switch) .form-check[role="checkbox"] input {
    transform: scale(1.2);
    border-color: #6c737f;

}

.form-group:has(.form-switch) .form-check[role="checkbox"] input:checked {
    background-color: #1e8153;
    border-color: #1e8153;
}

.form-group:has(.form-switch) .form-check[role="checkbox"] input:not(:checked):focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cellipse fill='%236c737f' cx='12' cy='12' rx='8.875' ry='8.875'/%3E%3C/svg%3E");
}

/* text inputs */

.form-group .form-control {
    background-color: #ffffff !important;
    border-color: #a1a2a7;
    border-radius: 4px;
}

.form-group .form-control:hover,
.form-group .form-control:focus {
    border-color: #384250;
}


.form-group .form-control:focus-visible {
    box-shadow: inset 0 -2px 0 0 #384250 !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* date time picker */
.rru-date-input {
    --bs-primary: #1c8353 !important;
}

/* wizards */

.rru-steps-wizard {
    --bs-primary: #1c8353 !important;
}