<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0D3C72" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <header>
      <input type="checkbox" id="nav-checkbox" />
      <nav>
        <div class="container">
          <a href="/"><img class="logo" src="/assets/logo.png" /></a>
          <a class="nav-item" href="/docs">Getting Started</a>
          <a class="nav-item" href="/docs/components">Components</a>
          <a class="nav-item" href="/CHANGELOG">Releases</a>
          <a class="nav-item" href="https://github.com/coder966/react-rich-ui" target="_blank">Github</a>
          <a class="nav-item" href="https://www.npmjs.com/package/react-rich-ui" target="_blank">NPM</a>
          <a class="nav-item" href="/docs/v1">Legacy Docs (v1.x.x)</a>
          <label class="nav-item icon" for="nav-checkbox" />
        </div>
      </nav>
    </header>
    <main class="container">{{ content }}</main>
  </body>
  <footer></footer>
</html>
